opencv-python
scikit-learn
tensorflow
Download the data set(https://drive.google.com/file/d/15wjcGyTag186zSCx78hn1A0HTg4UscEo/view?usp=sharing) for this project and unzip it. Move the resulting gtsrb directory inside of your traffic directory.